

.carousel-control-next-icon ,.carousel-control-prev-icon{
    background-color: black ;
    border-radius: 20%;
}



.carousel-back{
    position: relative;
}


.carousel-back::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,50%);
    z-index: 0;  
}

.carousel-indicators{
    display: none !important;
}