@media screen  and (max-width:174px) {
    .card-b{
        display: flex ;
        flex-direction: column ;
        align-items: center ;
        justify-content: space-around;
    }

    .bt{
        margin-top: 20px;
    }
}


@media screen  and (max-width:168px) {
    .av-tx{
        font-size: 12px !important;
    }
}